.card_char {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.info_wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}