body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #909edd80;
}


* {
  box-sizing: border-box;
  font-family: "Proxima Nova";
}
a {
  text-decoration: none;
}
h1, h2 {
  color: gray;
}