.card_location {
    flex-grow: 1;
    text-align: center;
    border: 1px solid black;
    // flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}
.info_wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}