.mainpage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.mainpage_img {
    flex: 1;
}
.mainpage_img img {
    width: 100%;
}

